* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.app-background {
    position: relative;
    height: 100vh;
}
.back-top {
    height: 130px;
    background-color: #009688;
}
.back-bottom {
    height: calc(100vh - 130px);
    background-image: linear-gradient(#dddbd1, #d2dbdc);
}

#root {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 80%;
    height: 95vh;
}

.left-container {
    width: 33%;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    height: 60px;
    padding: 10px;
}
.left-top-row {
    display: flex;
    align-items: center;
}
.left-top-row h5 {
    margin-left: 10px;
}
.left-top-row img {
    width: 45px;
    border-radius: 50%;
}
.right-top-row i {
    color: #b1b1b1;
    margin: 5px;
}

.left-row {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.notifications {
    background-color: #8edafc;
}
.silence {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
}
.notifications i {
    color: #8edafc;
    font-size: 20px;
}
.notifications-text {
    margin-left: 10px;
}
.notifications-text span {
    font-size: 14px;
    color: #578294;
    text-decoration: underline;
}

.search-bar {
    height: 40px;
    background-color: #fafafa;
    padding: 5px;
    display: flex;
}
.search-bar button {
    color: #b1b1b1;
    background-color: white;
    border: solid 1px whitesmoke;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar input {
    width: calc(100% - 65px);
    padding-left: 5px;
    border: solid 1px whitesmoke;
}

.chats {
    height: calc(95vh - 180px);
    overflow-y: scroll;
    background-color: white;
}

.active {
    background-color: #e9ebeb;
}

.contact-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.single-chat {
    padding: 10px;
    border-bottom: solid 1px whitesmoke;
}
.last-mex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 20px;
    align-self: flex-start;
}
.last-mex-date {
    font-size: 10px;
    color: #b1b1b1;
}
.last-mex p {
    width: 100%;
    margin-top: 5px;
    color: #b1b1b1;
    font-size: 14px;
}

.right-container {
    width: 67%;
    border-left: solid 1px lightgray;
}

.contact-info p {
    margin-left: 10px;
    color: #b1b1b1;
    font-size: 12px;
}

.chat-body {
    height: calc(95vh - 110px);
    background-image: url("../img/mine.jpg");
    overflow-y: scroll;
    padding: 40px 70px 10px;
    display: flex;
    flex-direction: column;
}

.message {
    position: relative;
    width: 40%;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
}
.message-data {
    position: absolute;
    font-size: 8px;
    color: #b1b1b1;
    bottom: 0;
    right: 0;
    padding: 3px;
}
.sent {
    align-self: flex-end;
    background-color: #d5f9ba;
}
.received {
    align-self: flex-start;
    background-color: white;
}

.chat-bottom {
    height: 50px;
    background-color: #f3eeea;
    display: flex;
}

.text-input {
    width: calc(100% - 150px);
    display: flex;
    padding: 5px;
}
.text-input input {
    width: 100%;
    padding-left: 10px;
    border-radius: 5px;
    border-color: transparent;
}
.aside-text-input {
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6b7376;
}