<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer">
        <link rel="stylesheet" href="css/style.css">
        <title>Document</title>
    </head>
    <body>
        <div class="app-backgound">
            <div class="back-top"></div>
            <div class="back-bottom"></div>
            <div id="root">
                <div class="left-container">
                    <div class="top-row">
                        <div class="left-top-row">
                            <img src="img/avatar_io.jpg" alt="io">
                            <h5>Nome utente</h5>
                        </div>
                        <div class="right-top-row">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="left-row notifications">
                        <div class="silence">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="notifications-text">
                            <h4>Ricevi notifiche di nuovi messaggi</h4>
                            <span>Attiva notifiche desktop</span>
                        </div>
                    </div>
                    <div class="search-bar">
                        <button>
                            <i class="fas fa-search"></i>
                        </button>
                        <input type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                    <div class="chats">
                        <div v-for="(contact, index) in contacts" class="left-row single-chat" :class="contact.visible ? 'active' : ''" @click="activeChat(index)">
                            <div class="contact-image">
                                <img :src="'img/avatar'+contact.avatar+'.jpg'">
                            </div>
                            <div class="last-mex">
                                <h4>{{contact.name}}</h4>
                                <span class="last-mex-date">{{ contact.messages[contact.messages.length - 1].date }}</span>
                                <p>{{ contact.messages[contact.messages.length - 1].text.slice(0, 26) }} ...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-container">
                    <div class="top-row">
                        <div v-for="(contact, index) in contacts" v-if="contact.visible" class="left-top-row">
                            <img :src="'img/avatar'+ contact.avatar +'.jpg'" alt="io">
                            <div class="contact-info">
                                <h5>{{contact.name}}</h5>
                                <p>Ultimo accesso oggi alle {{ contact.messages[contact.messages.length - 1].date }}</p>
                            </div>
                        </div>
                        <div class="right-top-row">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="chat-body">

                    </div>
                    <div class="chat-bottom">

                    </div>
                </div>
            </div>
        </div>

        <script src="js/script.js"></script>
    </body>
</html>